@model Truyumcasestudy.Models.menu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>menu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.menu_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.menu_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_of_lunch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_of_lunch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.menu_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
